.fav-drink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--myLightGray);
  border-radius: 2rem;
  padding: 2em;
  max-width: 600px;
}

.is-alcoholic {
  font-size: 1em;
  color: darkred;
}
.is-not-alcoholic {
  font-size: 1em;
  color: darkblue;
}
.instructions {
  margin-top: 0.5em;
  font-size: 1em;
  text-align: center;
}

@media (min-width: 1750px) {
  .fav-drink {
    margin-top: 5rem;
  }
}
.more-ingredients {
  color: white;
  background-color: hsla(0, 0%, 0%, 1);
  padding: 0.25em 0.5em;
  border-radius: 100vmax;
}
.more-ingredients:hover {
  opacity: 0.9;
}
