.nav {
  position: sticky;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 999;
  /* padding: 2em; */
  width: 100%;
  height: 100px;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--myBlue);
  height: 100%;
  padding: 2em;
}

.nav-logo {
  margin-left: 3rem;
}

.logo {
  width: 5rem;
  height: 5rem;
}

.nav-links-container {
  display: flex;
  gap: 3em;
  margin-left: auto;
}
.nav-link {
  text-align: center;
  border-style: solid;
  text-decoration: none;
  border-style: none;
  color: white;
  font-size: 1.75rem;
  line-height: 2.25rem;
}

.drop-down-menu {
  display: none;
  width: 100%;
  height: 10rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.drop-down-link {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  background-color: var(--myBlue);
  text-align: center;
}

.drop-down-link:hover {
  background-color: var(--myDarkBlue);
}

.hamburger-menu-button {
  display: none;
  width: 5rem;
  background: var(--myBlue);
  border-style: none;
  font-size: 3rem;
}

.show-drop-down {
  display: flex;
}

@media (max-width: 600px) {
  .nav-links-container {
    display: none;
  }
  .hamburger-menu-button {
    display: block;
  }
}

@media (min-width: 601px) {
  .drop-down-menu {
    display: none;
  }
}
